root = true

[*.kt]
ij_kotlin_brace_style = next_line
ij_kotlin_class_brace_style = next_line
ij_kotlin_method_brace_style = next_line
ij_kotlin_else_on_new_line = true
ij_kotlin_catch_on_new_line = true
ij_kotlin_finally_on_new_line = true
ij_kotlin_while_on_new_line = true

[*.java]
ij_java_brace_style = next_line
ij_java_class_brace_style = next_line
ij_java_method_brace_style = next_line
ij_java_else_on_new_line = true
ij_java_catch_on_new_line = true
ij_java_finally_on_new_line = true
ij_java_while_on_new_line = true
